[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-migrate = "*"
flask-cors = "*"
flask = "*"
faker = "*"
flask-restful = "*"
sqlalchemy-serializer = "*"
sqlalchemy = "*"
flask-marshmallow = "*"
pytest = "*"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.8"
